<?xml version="1.0" encoding="UTF-8"?>
<xml>
  <domain>sofpi</domain>
  <sevenZ>
    <relative>dependencies/build/7za.exe</relative>
    <install>C:/Program Files/7-Zip/7z.exe</install>
  </sevenZ>
  <args>a</args>
  <args>-mx9</args>
  <args>-mmt3</args>
  <args>-md=2048m</args>
  <args>-m0=lzma2:fb64</args>
  <args>-ms=16384m</args>
  <args>-bt</args>
  <includes filename="bin.zip" folder="dependencies/includes/bin"></includes>
  <iargs>a</iargs>
  <iargs>-mx9</iargs>
  <iargs>-bt</iargs>
  <iargs>-tzip</iargs>
  <win10 value="false" majorVersion="6.0" placeholder="SAMS-MP-v6.0.XX" git="d:/*gitlab*/automation/win10"></win10>
  <win11 value="true" majorVersion="7.0" placeholder="SAMS-C2-v7.0.XX" git="d:/*gitlab*/automation/win11"></win11>
  <public>
    <sevenzip script="public/7z.ps1"></sevenzip>
    <winDefend script="public/windefend.ps1"></winDefend>
    <edge script="public/edge.ps1"></edge>
    <nppp script="public/nppp.ps1"></nppp>
    <trellixv3Dat script="public/trellixv3dat.ps1"></trellixv3Dat>
  </public>
</xml>